* {
    padding: 0;
    margin: 0;
    list-style: none;
}

.navbar .navbar-nav {
    float: none !important;
    font-family: "Roboto", Helvetica, Arial, sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
}
.navbar .navbar-toggler {
    color: rgb(0, 0, 0);
}
.btn-template-outlined {
    background: none;
    color: #030303;
    text-decoration: none;
}

.navbar-brand {
color: rgb(97, 92, 92);
}
.navbar-brand :hover{
    color: #f86611;
}

.navbar-nav>li>a {
    color: rgb(97, 92, 92);
    text-align: center;
}

.navbar-nav>li:hover>a {
    color: #f86611;
}

.container {
    margin-top: 2%;
    justify-content: center;
    align-content: center;
    text-align: center;
}

.flexy {
    justify-content: center;
    align-content: center;
    text-align: center;
}

.tilt1 {
    text-align: center;
}

.btn1 {
    text-align: center;
    margin-top: 4%;
    margin-bottom: 4%;
}

.btn3 {
    margin-top: 1%;
}

.fimg {
    padding: 5%;
}

.img1 {
    width: 100%;
    height: 100%;
    padding: 5%;
}